<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NorthwindEntities" connectionString="metadata=res://*/NwModel.csdl|res://*/NwModel.ssdl|res://*/NwModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ES-DEV\#2000;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=False&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>